<div class="container table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Contact</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataList">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phone_number }}</td>
                <td><a href="update/{{ item.id }}" class="btn btn-primary">Update</a> <button
                        class="btn btn-danger ml-2">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>