<div class="container">

    <form [formGroup]="insertionForm" (ngSubmit)="insertFormData()">
        <div class="form-group">
            <label for="name_id">Name:</label>
            <input type="text" class="form-control" id="name_id" required formControlName="name"
                aria-describedby="emailHelp" placeholder="Enter name">
            <span *ngIf="name && name.invalid && name.touched" style="color: red;"><strong>Name is
                    required</strong></span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" required formControlName="email"
                aria-describedby="emailHelp" placeholder="Enter email">
            <span *ngIf="email && email.invalid && email.touched" style="color: red;"><strong>E-mail is
                    required</strong></span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contact No.:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" required formControlName="phone_number"
                placeholder="Example-01733978467">
            <span *ngIf="phone_number && phone_number.invalid && phone_number.touched" style="color: red;"><strong>Phone
                    Number is required</strong></span>
        </div>

        <button [disabled]="insertionForm.invalid" class="btn btn-primary">Submit</button>
    </form>

</div>