nav{
    background-color: skyblue;
    height: 50px;
    margin: 10px;
}
nav ul{
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 10px;
  
    
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}