<div class="container">
    <nav>
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a href="create">Create</a></li>
            <li><a routerLink="list">List</a></li>
        </ul>
    </nav>

</div>